@import url('https://fonts.googleapis.com/css?family=Droid+Serif:700|News+Cycle');
/*@import url('https://fonts.googleapis.com/css?family=Kumar+One|News+Cycle');*/


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'News Cycle', sans-serif;
	font-size: 16px;
	color: #222222;
	background-color: #E5E3E3;
	line-height: 1.3;
}

nav {
	background-color: #fff;
	font-family: 'News Cycle', sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 5px;
	word-spacing: 30px;
}

nav a{
	background-color: #fff;
	color: black;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}

a:hover {
	background-color: #aaaaaa;
}

header {
	text-align: center;
	border: 1px black solid;
	padding: 10px;
	margin: 10px;
	border: solid 5px black;
}

h1 {
	/*font-family: 'Kumar One', cursive;*/
	font-family: 'Droid Serif', serif;
	font-size: 4em;
	font-weight: normal;
	padding: 15px;
	letter-spacing: 10px;
	color: #000;
}

#slogan {
	font-style: italic;
	font-size: 2em;
	padding-bottom: 25px;
	margin: 0 10 20 10;
	letter-spacing: 2px;
}

#headline {
	font-size: 2.3em;
	font-weight: bold;
	padding: 5px;
}

#city{
	font-size: 1.3em;
}

article img {
	max-width: 350px;
	float: right;
}

/*figcaption {
	float: right;
}*/

#fly {
	font-size: 3em;
	font-weight: bold;
}

#two_column {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 62%;
	text-align: left;
}

#right {
	color: white;
	background-color: #237BCC;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 36%;
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

p{
	font-size: 1.75em;
	margin: 10px;
}


img {
	width: 100%;
}

footer{
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	background-color: #eee;
}

a {
	color: #222222;
	text-decoration: none;
}

div/section {
	border: 1px black solid;
	padding: 20px;
}