@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #222222;
	background-color: #F5F5F5;
	line-height: 1.3;
}

header {
	background-color: #0b1e3d;
	padding: 15px;
}

h1 {
	font-family: 'PT Serif', serif;
	font-size: 3em;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
}

#slogan {
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #fff;
	background-color: #0b1e3d;
	padding: 15px;
	letter-spacing: 2px;
	text-align: center;
}

nav a {
	font-family: 'PT Serif', serif;
	font-size: 1.5em;
	color: #e8702a;
	margin: 10px;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 2px;
}

img {
	width: 100%;
}

main {
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	padding: 20px;
}

hr{
	border: none;
	height: 3px;
	color: #e8702a;
}

ul {
	font-family: 'PT Sans', sans-serif;
	list-style-type: circle;
	padding-left: 20px;
}

a {
	font-family: 'PT Sans', sans-serif;
	color: #e8702a;
	text-decoration: none;
}


