@import url('https://fonts.googleapis.com/css?family=Quicksand|Vidaloka');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #222222;
	background-color: #FFB138;
	line-height: 1.3;
}

header {
	background-image: url("Owl_Header_1.jpg");
}

h1 {
	font-family: 'Vidaloka', serif;
	font-size: 3em;
	font-weight: bold;
	padding: 15px;
	letter-spacing: 4px;
	color: #000;
	background-color: #FFB138;
}

#slogan {
	font-style: italic;
	font-size: 2em;
	padding: 15px;
	letter-spacing: 2px;
	background-color: #FFB138;
}

nav a {
	font-size: 1.5em;
	color: #14B200;
	margin: 40px;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 2px;
}

hr{
	border: none;
	height: 5px;
	color: #e8702a;
}

p{
	font-size: 1.75em;
	margin: 10px;
}

img {
	width: 100%;
}