@import url('https://fonts.googleapis.com/css?family=Quicksand|Vidaloka');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #222222;
	background-color: #FFD700;
	line-height: 1.3;
}

header {
	padding: 40px;
	margin: 40px;
	border: solid 5px green;
	background-image: url("Owl_Header_1.jpg");
}

h1 {
	font-family: 'Vidaloka', serif;
	font-size: 3em;
	font-weight: bold;
	padding: 15px;
	letter-spacing: 4px;
	color: #000;
}

#slogan {
	font-style: italic;
	font-size: 2em;
	padding: 15px;
	letter-spacing: 2px;
}

nav a {
	font-size: 1.5em;
	color: #14B200;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 2px;
}

p{
	font-size: 1.75em;
	margin: 10px;
}

img {
	width: 100%;
}

a{
	color: #14B200;
	text-decoration: none;
}

footer{
	text-align: center;
	background-color: #eee;
}