* {
	padding: 0;
	margin: 0;
}

body {
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
}
header {
	background-color: #53F3FF;
	padding: 20px;
}
h1 {
	color: #ffffff;
}

a {
	color: #42f477
	text-decoration: none;
}

#slogan {
	font-style: italic;
}

nav a {
	color: cccccc;
	font-style: italic;
	margin-right: 10px;
	text-decoration: none;
}

img {
	width: 100%;
}

main {
	padding: 20px;
}

ul {
	padding-left: 20px;
}


