* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 20px;
	color: #222222;
	background-color: #ffbe4f;
	line-height: 1.3;
}

header {
	background-color: #6bd2db;
	padding: 15px;
}

h1 {
	font-family: 'PT Serif', serif;
	font-size: 48px;
	color: #0c0c0c;
}

#slogan {
	font-family: 'PT Serif', serif;
	font-style: italic;
}

nav a {
	font-family: 'PT Serif', serif;
	color: #e8702a;
	font-style: italic;
	margin-right: 10px;
	text-decoration: none;
}

img {
	width: 100%;
}

main {
	padding: 20px;
}

#me {
	font-family: 'Muli', sans-serif;
}

#email {
	font-family: 'PT Serif', serif;

}

ul {
	padding-left: 20px;
}

a {
	color: #e8702a;
	text-decoration: none;
}


