* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 20px;
	color: #222222;
	background-color: #ffbe4f;
	line-height: 1.3;
}

header {
	background-color: #0b1e3d;
	padding: 15px;
}

h1 {
	font-family: 'PT Serif', serif;
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

#slogan {
	font-family: 'PT Serif', serif;
	font-style: italic;
	color: #fff;
	background-color: #0b1e3d;
	padding: 15px;
	letter-spacing: 2px;
	text-align: center;
}

nav a {
	font-family: 'PT Serif', serif;
	color: #e8702a;
	margin-right: 10px;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 2px
}

img {
	width: 100%;
}

main {
	padding: 20px;
}

#me {
	font-family: 'Muli', sans-serif;
}

#email {
	font-family: 'PT Serif', serif;

}

hr{
	border: none;
	height: 3px;
	color: #e8702a;
}

ul {
	font-family: 'Muli', sans-serif;
	padding-left: 20px;
}

a {
	color: #e8702a;
	text-decoration: none;
}


